#
# .npmignore
#

scripts
test
.editorconfig
.eslintrc.js
.gitkeep
.prettierignore
.prettierrc
azure-pipelines.yml
gulpfile.js
jsconfig.json

# .gitignore

# IDE
.idea
*.iml
.vscode

# Project
node_modules
/*.html
MERGED.*
/*.tgz
.nyc_output
coverage
test-results.xml
