#
# .npmignore
#

scripts
test
.editorconfig
.eslintrc.js
.gitkeep
.prettierignore
.prettierrc
azure-pipelines.yml
jsconfig.json
scripts.yml

# .gitignore

# IDE
.idea
*.iml
.vscode

# Project
node_modules
## assets/**/*.min.*
/*.html
MERGED.*
/*.tgz
coverage
test-results.xml
/.*/
